.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  background-image: url('https://img.freepik.com/free-photo/white-painted-wall-texture-background_53876-138197.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.details {
  width: 28rem;
}

.details form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
}
