.container {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* initially hide container */
    transition: opacity 0.5s ease-in-out; /* fade in animation */
  }
  
  .animate {
    opacity: 1; /* show container with animation */
  }
  
  .row {
    display: flex;
    flex-wrap:inherit
  }
  
  .column {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(41, 127, 180);
  }
  
  .column img {
    max-width: 70%;
    height: auto;
  }
  
  .column {
    flex: 1;
    padding: 20px;
    border-radius: 10px; /* Rounded edges */
  }
  
  .list {
    list-style-type: none; /* Remove default bullet points */
    padding: 0;
    justify-content: center;
  }
  
  .tick {
    margin-right: 5px; /* Space between tick symbol and text */
  }
  
  .tick:hover {
    transform: scale(1.5); /* Zoom effect on hover */
  }
  